# This is just used for local development.
services:
  postgres:
    container_name: db-rankovo-dev
    image: postgres:17-alpine
    ports:
      - 5432:5432
    volumes:
      - rankovo-dev:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=rankovo-dev
      - POSTGRES_USER=ben
      - POSTGRES_PASSWORD=password

volumes:
  rankovo-dev:
