@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #ebe8dd;
  --fg: #544f4a;
  --primary: #eb8c21;
  --primary-fg: white;
  --secondary: #629496;
  --secondary-fg: white;
  --tertiary: #6c3e6e;
  --tertiary-fg: white;
  --gray: #e0ddda;
  --light-gray: #f8f9fa;
  --dark-gray: #6b7280;
  --error: #9f3216;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
